html {
  font-size: 26.6667vw;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: 0.14rem;
  line-height: 0.14rem;
}
img {
  vertical-align: middle;
}
#header {
  display: flex;
  background-color: #006699;
  height: .45rem;
}
#header .left {
  width: .45rem;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .left > a {
  color: white;
}
#header .center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .center h4 {
  font-weight: normal;
  color: white;
}
#header .center form {
  width: 100%;
}
#header .center form input {
  background-color: white;
  text-align: left;
  margin-bottom: 0;
}
#header .right {
  width: .45rem;
  height: .45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .right a {
  color: white;
}
#main {
  flex: 1;
  overflow: hidden;
  position: relative;
}
#main .mui-input-group input {
  font-size: 0.14rem;
}
#footer {
  height: .45rem;
  background-color: #006699;
}
#footer .mui-row {
  height: 100%;
}
#footer .mui-row > div {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#footer .mui-row > div a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
